*{
    margin:0;
    padding: 0;
    font-family: FZShuTi;
}
[id]{
    background-color:#ff4d4d;
}
#h11{
    width: 1340px;
    height: 70px;
}
#h44{
    width:1340px;
    height: 60px;
    position: absolute;
    bottom: 50px;
}
[title = "s11"]{
    width: 370px;
    height: 510px;
    float: left;
    margin-top: 10px;
    font-size: 20px;
}
[title = "s22"]{
    width: 600px;
    height: 520px;
    float: left;
    background-color:#ffffff;
}
.biaoti1{
    text-align: center;
    color: #5d478b;
    line-height: 70px;
    font-family: "KaiTi";
    font-size:45px;
}
[title = "a11"],[title="a22"]{
    -width:580px;
    height: 220px;
    background-color:#fec5cf;
    padding:10px;
    border-width:10px;
    border-style: solid;
    border-color:#fef1e8;
    float:left;

}
#h22,#h33{
    height:40px ;
}
#pp1,#pp2{
    line-height: 40px;
    font-size: 25px;
    font-weight: bold;
}
h2,h3,#pp1,#pp2{
    text-align: center;
    color:#5d478b;
}

aside{
    width:340px;
    height: 470px;
    float: left;
    margin-top: 10px;
    background-color: #fec5cf;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}
.main{
    width:1340px;
    height: 650px;
    background-color: #cccccc;
    padding:0 50px 50px 50px;
    position:absolute;
    float: left;
}

.main2{
    width:1340px;
    height: 520px;
    background-color:#fef1e8;
    /* background-image: url("img/20210420.jpg") center center no-repeat;
    background-size: cover; */
    float: left;
}

span{
    color: #FF1493;
}

hr{
    height: 1px;
    border: none;
    border-top: 1px dashed #0066CC;

}
nav{
    width: 330px;
    height:45px;
    background-color: rgba(255,182,193,0.5);
    font-size:25px;
    padding:5px 20px 0px 20px;
    border-radius: 10px;
}
ul{
    list-style-type: none;
}
li{
    display: inline-block;
}
li:hover{
    background-color: #FF3E96;
    border-radius: 10px;
}
#f11,#f22{
    height: 35px;
}
.ac1,.ac2{
    width:514px;
    height: 119px;
    padding: 10px 20px 10px 20px;
    background-color: #fef1e8;
    font-size: 20px;
    border-style: dotted;
    border-width: 3px;
    border-color: aqua;
}
a{
    text-decoration: none;
    
}
